.about-wrapper{
    padding: 5rem 12rem;
}

.about-container{
    justify-content: space-between;
    align-items: center;
    display: flex;
    
}

.video-container{
    position: relative;
}

.custom-play-btn i{
    font-size: 2rem;
    color: #fff;
}
.custom-play-btn{
    position: absolute;
    top:35%;
    left:-10px;
    padding: 20px 24px;
    border-radius: 50%;
    border: 5px solid #fff;
    background-color: #0d6efd;
    

}

.about-container h1{
    font-size: 2rem;
    font-weight: 600;
    
}

.about-container p{
    color:#333;
    font-weight: 400;
    margin-top: 1.5rem;    
}

.about-container-2{
    margin-top: 5rem;
    padding:0rem 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.about-container-2 i{
    font-size: 3.5rem;
}
.about-container-2 h6{
    font-size: 1.2rem;
    color:#333;
    font-weight: 500;
    margin-top: 10px;
}

.about-container-2 div{
    text-align: center;
}