.header-container{
    padding:0.5rem 12rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #5B8FB9;
    color:#fff;
}

.header-list{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0px;
}
.header-list li{
    margin-left: 15px;
}